@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    background-color: #F9F9F9;
}
.main{
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 55%;
    margin: 0 auto;
}
.header a{
    color: #2F2F2F;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Lora', serif;
    font-size: 18px;
    transition: 0.3s;
}
.header a:hover{
    transform: scale(1.1);
}
.header button{
    font-family: inter;
    font-weight: 600;
    color: #2F2F2F;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 30px;
    height: 30px;
    transition: ease-in 0.3s;
    cursor: pointer;
}
.header button:hover{
    background-color: rgba(0, 0, 0, 0.034);
}
.header button:nth-child(1){
    width: 30px;
    font-size: 13px;
}
.header button:nth-child(3){
    display: none;
    width: 30px;
    font-size: 13px;
}
.header button:nth-child(2){
    width: 130px;
    text-transform: uppercase;
    font-size: 11px;
}
.main{
    height: 90%;
    width: 55%;
    margin: 0 auto;
}
.menu-container{
    height: auto;
    width: 100%;
    font-family: 'inter';
    margin-top: 10%;
    position: relative;
    z-index: 2;
}
.menu-header{
    text-align: center;
}
.menu-header a{
    color: #2F2F2F;
    font-size: 14px;
    text-decoration: none;
    position: relative;
}
.menu-content{
    font-family: 'lora',serif;
    font-size: 35px;
    text-align: center;
    color: #2F2F2F;
    margin-top: 10px;
}
.menu-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.menu-footer button{
    height: 40px;
    width: 25%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.menu-footer button:nth-child(1){
    background-color: #6610F2;
    border: none;
    color: #F9F9F9;
}
.menu-footer button:nth-child(1):hover{
    background-color: #460ba3;
}
.menu-footer button:nth-child(2){
    border: 1px solid rgba(0, 0, 0, 0.274);
    background-color: #fff;
}
.menu-footer button:nth-child(2):hover{
    background-color: #2F2F2F;
    color: white;
    border-color: 1px solid rgb(168, 168, 168);
}
.emoji-container{
    width: 95%;
    height: 65%;
    position: relative;
    top: -46%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.emoji-container img{
    height: 90px;
    user-select: none;
}
.emoji-top{
    display: flex;
    justify-content: space-between;
}
.emoji-top img:nth-child(2){
    position: relative;
    top: -18px;
}
.emoji-down{
    display: flex;
    justify-content: space-between;
}
.emoji-down img:nth-child(2){
    position: relative;
    top: 60px;
}
.emoji-down img:nth-child(3){
    position: relative;
    top: -15px;
}

.comment-container{
    position: relative;
    top: -120px;
    width: 100%;
    background-color: #F2F2F2;
    height: 25%;
    display: flex;
}
.comment-container section > h3{
    font-family: 'Lora', serif;
    color: #2F2F2F;
    margin: 20px 0 0 40px;
    border-left: 2px solid #6610F2;
    padding-left: 13px;
    font-size: 16px;
    text-transform: uppercase;
}
.comment-container section > p{
    margin-top: 20px;
    margin-left: 40px;
    color: #2F2F2F;
}
.bill-content{
    height: 100%;
    width: 50%;
}
.steve-content{
    height: 100%;
    width: 50%;
}
@media (max-width: 880px){
    .emoji-container img{
        display: none;
    }
    .main{
        width: 80%;
    }
    .header{
        width: 90%;
    }
    .header button:nth-child(2){
        display: none;
    }
    .header button:nth-child(3){
        display: inline-block;
    }
    .menu-container{
        width: 100%;
    }
    .menu-footer{
        width: 100%;
        flex-direction: column;
    }
    .menu-footer button{
        width: 100%;
    }
    .comment-container {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        margin-top: -100px;
    }
    .comment-container section{
        width: 100%;
    }
    
}

.element-1 {
    animation-name: up-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
.element-2 {
    animation-name: up-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-delay: 0.9s;
}
.element-3 {
    animation-name: up-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-delay: 1s;
}
.element-4 {
    animation-name: up-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-delay: 0.6s;
}
.element-5 {
    animation-name: up-down;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

@keyframes up-down {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}